:root {
    --default-selector-color: #222;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.grid-container {
    display: grid;
    grid-auto-rows: 1fr;
    aspect-ratio: 1 / 1;
}

.grid-cell {
    user-select: none;
}

.selected {
    background-color: var(--default-selector-color);
}