:root {
    --default-cell-color: #000000;
    --button-background-color: #000000;
    --buton-font-color: #ffffff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.grid-container {
    display: grid;
    grid-auto-rows: 1fr;
    aspect-ratio: 1 / 1;
    cursor: crosshair;
}

.grid-cell {
    user-select: none;
}

.menu-button.active {
    background-color: var(--button-background-color);
    color: var(--buton-font-color);
}